html {word-break:break-all;}
body.basic {font-family:'Malgun Gothic'; text-align:center; margin:0;}
img,fieldset{border:0}
ul,ol,li{list-style:none;padding:0;margin:0;}
a {color:inherit; text-decoration:none;}


.menu_test {clear:both; position:relative; background:#fff; height:50px; line-height:50px; width:1080px; margin:0 auto;}
.menu_test .float_leftmenu {float:left; width:135px; height:50px; border-right:1px solid #CCC; font-size:14px; color:#333; font-weight:normal; box-sizing:border-box;-moz-box-sizing: border-box; -o-box-sizing: border-box; text-shadow:none;}
.menu_test .float_leftmenu:hover {background:#51afff; font-weight:bold; color:#fff;}
.menu_test .float_leftmenu:hover .open_menu{display:block;}

.menu_test .float_leftmenu .open_menu {clear:both; display:none; background:#51afff; width:180px;}
.menu_test .float_leftmenu .open_menu li {border-top:1px solid #fff;}
.menu_test .float_leftmenu .open_menu li:hover {background:#06F; color:#FC0;}